body {
    font-family: "Montserrat", sans-serif;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0
}
img {
    object-fit: cover;
}
/* HEADER ***************************************************************
*************************************************************************/
.header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 30px;
}
.header img {
    width: 100px;
    height: 30px;
}
.header a {
    color: #FF6060;
    font-size: 18px;
    text-decoration: none;
    transition: 0.5s;
}
.header a:hover {
    color: #959595;
    transition: 0.5s;
}
.space {
    margin-right: 50px;
}
@media screen and (max-width: 600px) {
    .space {
        margin-right: 10px;
    }
    .header img {
        width: 80px;
        height: 20px;
    }
    .header a {
        font-size: 15px;
    }
}
/* BANNER ***************************************************************
*************************************************************************/
.banner {
    position: relative;
    background: url(assets/slogan.png) fixed no-repeat;
    background-size: 100% 400px;
    width: 100%;
    height: 250px;
}
.banner img {
    width: 100%;
    height: 100%;

}
.banner span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0.5;
}
.banner h2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%); 
    color: white;
    font-size: 45px;
    font-weight: normal;
    text-align: center;
    width: 100%;
}
@media screen and (max-width: 800px) {
    .banner h2 {
        font-size: 35px;
    }
}
@media screen and (max-width: 600px) {
    .banner h2 {
        font-size: 25px;
    }
    .banner {
        height: 200px;
    }
}
@media screen and (max-width: 400px) {
    .banner h2 {
        font-size: 20px;
    }
}
/* CARDLIST ***************************************************************
*************************************************************************/
.card-list {
    padding: 20px 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.card {
    position: relative;
    width: 25%;
    height: 300px;
    margin: 20px;
    border-radius: 10px;
    background-color: #e9e9e99c;
}
.card:hover {
    border: 10px solid #9191919c;
    border-radius: 10px;
    transition: 0.3s;
}
.card-price {
    position: absolute;
    width: 40px;
    height: 30px;
    background-color: #FF6060;
    color: white;
    top: 20px;
    right: -10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: bold;
}
.card figure {
    width: 100%;
    height:100%;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
    position: relative;
    border-radius: 10px;
}
.card figcaption {
    color: white;
    font-size: 18px;
    position: absolute;
    bottom: 0px;
    margin: 15px;
}
.card figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}
@media screen and (max-width: 1024px) {
    .card {
        width: 28%;
        height: 280px;
    }
}
@media screen and (max-width: 900px) {
    .card {
        width: 40%;
        height: 280px;
    }
}
@media screen and (max-width: 650px) {
    .card {
        width: 90%;
        height: 280px;
    }
}
@media screen and (max-width: 350px) {
    .card {
        width: 90%;
        height: 250px;
    }
}

/* CARROUSSEL ***************************************************************
*************************************************************************/
.carroussel-container { 
    width: 100%;
    height: 500px;
    position: relative; 
}
.slide-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.slide-image img {
    width: 100%;
    height: 100%;
}
.fa-chevron-right, .fa-chevron-left {
    position: absolute;
    top: 50%;
    cursor: pointer;
    transform: translateY(-50%);
    width: auto;
    padding: 16px;
    color: white;
    font-size: 50px;
    transition: 0.6s ease;
    user-select: none;
}
.fa-chevron-left {
    left: 20px;
}
.fa-chevron-right {
    right: 20px;
}
@media screen and (max-width: 900px) {
    .carroussel-container {
        height: 400px;
    }
}
@media screen and (max-width: 600px) {
    .carroussel-container {
        height: 350px;
    }
    .fa-chevron-right, .fa-chevron-left {
        font-size: 30px;
    }
}
@media screen and (max-width: 400px) {
    .carroussel-container {
        height: 300px;
    }
    .fa-chevron-left {
        left: 10px;
    }
    .fa-chevron-right {
        right: 10px;
    }
}

/* PRESENTATION / EQUIPMENTS ***************************************************************
*************************************************************************/
.presentation {
    margin: 0 80px;
    margin-bottom: 40px;
}
.part-profile , .part-informations {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.part-profile h1 {
    font-size: 22Px;
    color: #FF6060;
    font-weight: normal;
    width: 60%;
}
.part-profile div {
    display: flex;
}
.part-localisation {
    color: #FF6060;
    font-size: 16px;
    text-align: left;
}
.part-informations {
    margin: 20px 0;
}
.part-informations ul {
    display: flex;
}
.part-informations ul li {
    font-size: 14px;
    color: white;
    background: #FF6060;
    border-radius: 10px;
    padding: 5px 10px;
    list-style-type: none;
    margin-right: 10px
}
.rating {
    color: #FF6060;
}
.container-pl {
    display: flex;
    flex-direction: column;
    width: 60%;
}
.container-pl h1 {
    margin-top: 10px;
    margin-bottom: 10px;
}
.part-profile ul {
    display: flex;
    list-style: none;
    align-items: center;
}
.part-profile button {
    margin-right: 20px;
    padding: 7px 20px;
    background-color: #FF6060;
    outline: none;
    border: none;
    color: white;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    border-radius: 10px;
}
.part-profile button:hover {
    cursor: pointer;
    box-shadow: 2px 5px 10px #808080b6;
    transition: 0.3s;
}
.part-profile ul li:nth-child(2) {
    display: flex;
    flex-direction: column-reverse;
    align-items: end;
}
.part-profile ul img {
    margin: 10px 0;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.part-profile ul p {
    color: #FF6060;
}
@media screen and (max-width: 1024px) {
    .presentation {
        margin: 0 30px;
        margin-bottom: 30px;
    }
}
@media screen and (max-width: 900px) {
    .presentation {
        margin: 0 30px;
        margin-bottom: 30px;
    }
    .part-profile {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: initial;
    }
    .container-pl , .part-profile h1 {
        width: 100%;
    }
    .part-profile ul {
        justify-content: space-between;
    }
    .part-informations {
        margin: 5px 0;
    }
}
@media screen and (max-width: 600px) {
    .presentation {
        margin: 0 20px;
        margin-bottom: 20px;
    }
    .part-profile ul {
        justify-content: space-between;
    }
    .part-informations {
        margin: 5px 0;
        flex-direction: column-reverse;
        align-items: initial;
    }
    .rating {
        margin-bottom: 10px;
    }
    .part-profile h1 {
        font-size: 18px;
    }
}
@media screen and (max-width: 500px) {
    .part-informations ul {
        flex-direction: column;
    }
    .part-informations ul li {
        margin: 5px 0;
    }
}
/* MODAL RESERVATION ***************************************************************
*************************************************************************/
.modal-reservation {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #ffffffa3;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99;
    display: none;
}
.modal-reservation form {
    background: #ff7b7b;
    padding: 40px;
    border-radius: 20px;
    height: 90%;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
    position: relative;
}
.modal-reservation form input {
    width: 100%;
    height: 35px;
    padding-left: 10px;
    margin: 10px 0;
    font-family: 'Montserrat', sans-serif;
    outline: none;
    border: none;
    border-radius: 8px;
}
.modal-reservation button {
    padding: 9px 20px;
    background-color: #ff5454;
    outline: none;
    border: white 2px solid;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    border-radius: 10px;
    text-transform: uppercase;
    font-weight: bold;
    color: white;
}
.modal-reservation button:hover {
    cursor: pointer;
    box-shadow: 2px 5px 10px #808080b6;
    transition: 0.3s;
}
.modal-reservation label {
    font-size: 14px;
}
.modal-reservation i {
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 20px;
    cursor: pointer;
}
.error-message {
    color: black;
    font-size: 13px;
}
.confirmation-modal {
    background: #FF6060;
    color: white;
    padding: 40px;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    line-height: 25px;
    position: relative;
    border-radius: 20px;
}
.confirmation-modal h2 {
    margin-bottom: 20px;
}
.confirmation-modal p {
    margin: 10px 0;
}
.confirmation-modal span {
    font-weight: bold;
}
.confirmation-modal i {
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 20px;
}
/* DESCRIPTION ***************************************************************
*************************************************************************/
.descriptions {
    display: flex;
    justify-content: space-between;
    margin: 40px 80px;
}
#titre2 {
    background: #FF6060;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    cursor: pointer;
    width: 100%;
}
.titre h3 {
    font-size: 18px;
    color: white;
    font-weight: normal;
}
.description , .desc {
    width: 48%;
   /* height: 250px;*/
}
.desc1 , .description1{
    width: 60%;
    margin-bottom: 20px;
}
.arrow-ok{
    font-size: 25px;
    height: 18px;
    color: white;
}
.arrow-hidden {
    display: none;
}
.desc-open{
    padding: 20px;
    line-height: 25px;
    background: #eaeaea;
}
.desc-open1 {
    line-height: 25px;
    background: #eaeaea;
    padding: 20px;
}
.desc-close1 {
    line-height: 25px;
    background: #eaeaea;
    display: none;
   
}
.desc-close {
    display: none;
}
.equipments {
    list-style: none;
}
@media screen and (max-width: 900px) {
    .descriptions {
        margin: 10px 30px;
        font-size: 15px;
    }
   
}
@media screen and (max-width: 700px) {
    .descriptions {
        margin: 10px 30px;
        font-size: 15px;
        flex-direction: column;
    }
    .description , .desc {
        width: 100%;
    }
    .description:nth-child(2) {
        margin-top: 20px;
    }
}
@media screen and (max-width: 600px) {
    .descriptions {
        margin: 10px 20px;
    }
}
/* ABOUT PAGE ***************************************************************
*************************************************************************/
.image-about {
    position: relative;
    margin-bottom: 20px;
    background: url(assets/bg.png) fixed no-repeat;
    background-size: 100% 400px;
    width: 100%;
    height: 150px;
}
.image-about span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0.5;
}
.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.bloc {
    width: 100%;
    color: #FF6060;
    margin: 40px 0;
}
@media screen and (max-width: 900px) {
    .about .desc1 , .about .description1 {
        width: 80%;
    }
}
@media screen and (max-width: 500px) {
    .about .desc1 , .about .description1 {
        width: 90%;
    }
    .about {
        font-size: 15px;
    }
}


/* ABOUT PAGE ***************************************************************
*************************************************************************/
.filters {
    display: flex;
    justify-content: center;
}
.filters div {
    display: flex;
    margin: 30px;
    margin-top: 40px;
    border-radius: 15px;
    background-color: #FF6060;
}
.filters span {
    color: white;
    padding: 10px;
}
.filters select {
    border: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    margin: 5px;
    text-align: center;
    font-size: 14px;
    outline: none;
    cursor: pointer;
}
@media screen and (max-width: 940px) {
    .filters div {
        margin: 30px 10px;
        font-size: 14px;
    }
}
@media screen and (max-width: 800px) {
    .filters  {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 10px;
    }
    .filters div {
        margin: 5px;
        width: 70%;
        display: flex;
        justify-content: space-between;
    }
    .filters select {
        width: 60%;
    }
}
@media screen and (max-width: 600px) {
    .filters div {
        width: 90%;
    }
    .filters select {
        width: 50%;
    }
}
@media screen and (max-width: 400px) {
    .filters div {
        width: 90%;
    }
    .filters select {
        width: 35%;
    }
}
/* FOOTER ***************************************************************
*************************************************************************/
footer {
    background: black;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}
footer img {
    margin-bottom: 20px;
    width: 80px;
}
@media screen and (max-width: 500px) {
    footer {
        font-size: 12px;
    }
}
